@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: right;
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: italic;
  
}

body {
        background-color: #efe9d9;
    
}
header img {
    width: 100px;
    border-radius: 50%;
}
header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;

}
header ul {
    display: flex;
    list-style: none;
}
header ul li a{
    padding-left: 60px;
    text-decoration: none;
    color: #705c30;
    font-size: 22px;
}
.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.main h1 {
    padding-bottom:35px ;
    color: #705c30;
}
.main p {
    padding-bottom:35px ;
    color: #705c30;
}
.btn-c {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    /* background-color: ; */
    border-radius: 100px;
    font-weight: 600;
    color: #705c30;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #705c30;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ffeebe;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #705c30;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #705c30;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  